body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

.nav-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    position: relative;
}

#yearSlider {
    width: 60%;
    margin: 0 auto;
}

#slider-values {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-top: 5px;
    position: relative;
    top: -10px;
}
#content {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#text-box {
    width: 25%;
    padding: 20px;
}

#graphs {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

#chart-deaths, #chart-vaccinations {
    width: 48%; /* Ensure the charts are side by side */
}

.nav-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.nav-btn {
    margin: 0 5px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.nav-btn.active {
    background-color: #0056b3;
}

.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
